#
# requirements.in - explicit python dependencies
#
# to update requirements.txt, run:
#
#    pip-compile
#

# setup
pip-tools
pre-commit
mypy
setuptools
wheel
# style
black==20.8b1
isort
flake8
flake8-mypy
# tests
pytest
pytest-benchmark
pytest-cov
pytest-watch
pytest-mock
pyfakefs
coveralls
# library
pyaudio
numpy
websocket
tokenizers
requests>=2.25.1
streamp3
google-cloud-speech
cython
sounddevice
inflect
spacy
unidecode
