#
# requirements.in - explicit python dependencies
#
# to update requirements.txt, run:
#
#    pip-compile
#

# setup
pip-tools
pre-commit
mypy
setuptools
wheel
# style
black
isort
flake8
flake8-mypy
# tests
pytest
pytest-benchmark
pytest-cov
pytest-watch
pytest-mock
pyfakefs
coveralls
# library
pyaudio
numpy
websocket
tokenizers
requests
streamp3
google-cloud-speech
cython
sounddevice
