version: 2

jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/python:3.8

    steps:
      - checkout
      - run: sudo apt-get install portaudio19-dev libmp3lame-dev
      - restore_cache:
          keys:
            - build-{{checksum "requirements.txt"}}
      - run: python3 -m venv ~/venv
      - run: git submodule update --init
      - run: |
          source ~/venv/bin/activate
          pip install --upgrade pip pip-tools
          pip install -r requirements.txt
          pip install tensorflow
          python -m spacy download en_core_web_sm
      - save_cache:
          key: build-{{checksum "requirements.txt"}}
          paths:
            - ~/venv
      - run: echo 'export PYTHONPATH=~/repo' >> $BASH_ENV
      - run: |
          source ~/venv/bin/activate
          flake8
      - run: |
          source ~/venv/bin/activate
          black spokestack tests
      - run: |
          source ~/venv/bin/activate
          mypy spokestack
      - run: |
          source ~/venv/bin/activate
          python setup.py build_ext -i
      - run: |
          source ~/venv/bin/activate
          python -m pytest --cov=spokestack
          python -m coveralls

workflows:
  version: 2

  build:
    jobs:
      - build
